.background{
    width: 1080px;
    min-height: 100vh;
    background-color: black;
    --trang:white;
    --den:rgb(49, 49, 49);
}

.div-avatar{
    width: 1080px;
    height: 300px;
    background-color: var(--den);
}
.avatar{
    display: flex;
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.size-avt{
    display: block;
    object-fit:cover;
    width: 225px;
    height: 225px;
    border-radius: 100rem;
    flex-shrink: 0;
    margin-top: 30px;
}
.content-avt{
    padding-left:10px ;
    margin-left: 30px;
    margin-top: 10px;
    flex: 1;
}
.name-avt{
    font-family: monospace;
    font-style:bold ;
    font-size: 60px;
    color: var(--trang);
    margin-bottom:1px;
}
.title-avt{
    font-family: monospace;
    font-size: 35px;
    color: var(--trang);
    align-items:flex-start;
    margin-top: 10px;
}
.cards{
    display: block;
    align-items: stretch;
}
.div-card{
    width: 1080px;
    height: 200px;
    background-color: var(--den);
}
.card{
    display: flex;
    width: 600px;
    height: 200px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
}
.grid{
    width: 600px;
    height: 150px;
}
.size-icon{
    display: block;
    object-fit:cover;
    width: 130px;
    height: 130px;
    margin-top: 35px;
    border-radius: 100rem;
    flex-shrink: 0;
}
.content-icon{
    display: block;
    width: 500px;
    height: 200px;
    margin-left: 30px;
    flex-shrink: 0;
}
.name-icon{
    display: block;
    font-family: monospace;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: auto;
    color: var(--trang);
    flex: 1;
}
.title-icon{
    font-family: monospace;
    font-size: 35px;
    color: var(--trang);
    margin-top: auto;
}
.footer{
    background-color: var(--den);
    height: 600px;
}
.gif{
    width: 180px;
    text-align: center;
    margin-left: 420px;
}
.Loichao{
    font-style:bold ;
    font-family: monospace;
    font-size: 100px;
    color: var(--trang);
    text-align: center;
}