*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.background{
    width: 1100px;
    min-height: 100vh;
    background-color: black;
    --trang:white;/*Thay màu chữ */
    --den:rgb(49, 49, 49);/*Thay màu nền card */
    --kieuchu: normal;/*Thay kiểu chữ(đậm, thường) */
    color: var(--trang);
    font-weight: var(--kieuchu);
    font-family: 'Itim', cursive;
    word-spacing: 8px; /*khoảng cách 2 từ */
    letter-spacing: 2px; /*khoảng cách 2 ký tự */
}

.divavt{
    width: 1100px;
    height: 500px;
    background-color: var(--den);
    display: flex;
    flex-direction: column;
    
}
.avt{
    width: 600px;
    height: 400px;
    display: flex;
    margin-top: 50px ;
    margin-left: 50px;
}
.image{
    display: block;
    object-fit:cover;
    width: 400px;
    height: 400px;
    border-radius: 100rem;
    flex-shrink: 0;
    margin-left:0px;
    margin-top:0px;
}
.content{
    display: flex;
    flex-direction: column;
    margin-left:0px;
    margin-top: 0px;
}
.name{
    font-weight: var(--kieuchu);
    height: 90px;
    font-size: 110px;
    margin-bottom: 0px;
}
.title{
    font-weight: var(--kieuchu);
    font-size: 50px;
    margin-top: 40px;
}
.divcards{
    width: auto;
    height: auto;
    flex-direction:column;
}
.cards{
    width: 1100px;
    height: 400px;
    background-color: var(--den);
    display: flex;
    margin-top: 5px;
}
.card{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 300px;
    margin-left: 90px;
    margin-top: 60px;
    margin-bottom: 0px;
    color: var(--trang);
}
.gird{
    width: 1000px;
    height: 300px;
}
.icon{
    display: block;
    object-fit:cover;
    width: 250px;
    height: 250px;
    border-radius: 100rem;
    margin-left: 0px;
    margin-top: 0px;
}
.card-content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 40px;
}
.card-content-name{
    font-weight: var(--kieuchu);
    height: 90px;
    font-size: 90px;
    margin-bottom: 0px;
}
.card-content-title{
    font-weight: var(--kieuchu);
    font-size: 50px;
    margin-top: 30px;
}
.footer{
    display: flex;
    flex-direction: column;
    background-color: var(--den);
    height: 1000px;
    margin-top: -30px;
    text-align: center;
}
.gif{
    width: 180px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.Loichao{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    font-size: 100px;
    margin-bottom: 0px;
}
.Loichao-title{
    font-size: 60px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    word-spacing: 0px;
}