*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.background{
    width: 1080px;
    min-height: 100vh;
    background-color: black;
    --trang:white;
    --den:rgb(49, 49, 49);
    color: white;
}

.divavt{
    width: 1080px;
    height: 500px;
    background-color: var(--den);
    display: flex;
    flex-direction: column;
}
.avt{
    width: 600px;
    height: 400px;
    display: flex;
    color: var(--trang);
    margin-top: 50px ;
    margin-left: 50px;
}
.image{
    display: block;
    object-fit:cover;
    width: 400px;
    height: 400px;
    border-radius: 100rem;
    flex-shrink: 0;
    margin-left:0px;
    margin-top:0px;
}
.content{
    display: flex;
    flex-direction: column;
    color: var(--trang);
    margin-left:0px;
    margin-top: 0px;
    font-family: monospace;
}
.name{
    height: 90px;
    font-style:bold ;
    font-size: 110px;
    margin-bottom: 0px;
}
.title{
    font-size: 50px;
    margin-top: 30px;
}
.divcards{
    width: auto;
    height: auto;
    flex-direction:column;
}
.cards{
    width: 1080px;
    height: 400px;
    background-color: var(--den);
    display: flex;
    margin-top: 5px;
}
.card{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 300px;
    color: var(--trang);
    margin-left: 90px;
    margin-top: 50px;
}
.gird{
    width: 1000px;
    height: 300px;
}
.icon{
    display: block;
    object-fit:cover;
    width: 250px;
    height: 250px;
    border-radius: 100rem;
    margin-left: 0px;
    margin-top: 0px;
}
.card-content{
    display: flex;
    flex-direction: column;
    color: var(--trang);
    margin-top: 50px;
    margin-left: 30px;
    font-family: monospace;
}
.card-content-name{
    height: 90px;
    font-style:bold ;
    font-size: 90px;
    margin-bottom: 0px;
}
.card-content-title{
    font-size: 50px;
    margin-top: 30px;
}
.footer{
    background-color: var(--den);
    height: 600px;
}
.gif{
    width: 180px;
    text-align: center;
    margin-left: 420px;
}
.Loichao{
    font-style:bold ;
    font-family: monospace;
    font-size: 100px;
    color: var(--trang);
    text-align: center;
}